body{
    background-color: #222;
}
.Hobbies-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.Hobbies-text h1{
    color: #e5e5e5;
    font-size: 14px;
  }
.Hobbies-text h1 span{
    color: #007ced;
    font-size: 16px;
  }
.Hobbies-text p{
    color: #e5e5e5;
  }
